/* ----------------------------------------------------------------------------------------------------- */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------------------- */
/* card rotatoria */
.cardface__positionImage{
  margin: 1rem 0;
  text-align: center;
}
.cardface__image{
  width: 80%;
}
/* ----------------------------------------------------------------------------------------------------- */
